/* Mobile first */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.section_title {
    margin: 20px 0px 15px 20px;
}

main .section_title {
    font-weight: bold;
}

/* Header main */
header {
    text-align: center;
    box-shadow: 0 0 8px rgb(0 0 0 / 25%);
    padding: 10px;
    position: relative;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

.header_main i {
    display: none;
}

/* Header restaurant */

.header_restaurant {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

header i {
    position: absolute;
    left: 20px;
    top: 23px;
    font-size: 22px;
}


/* search bar */
.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin: auto;
    background-color: #eaeaea;
}

input[type="search"] {
padding: 20px 10px 20px 15px;
background: #eaeaea;
font-family: 'Roboto', sans-serif;
}

#search::placeholder {
    color: rgb(75, 75, 75);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#search {
    border: none;
    outline: none;
}

.location i {
    padding: 5px 5px 5px 30px;
    color: rgb(75, 75, 75);
}

.location label {
    position: absolute;
    left: -999px;
}

/* Info explore */
.explore {
    padding: 40px 0 70px 0;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    background: #f6f6f6;
    width: 100%;
}


.content_explore h2 {
    width: 65%;
    margin: auto;
    font-weight: bold;
}

.content_explore p {
    padding: 0px 0 40px 0;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.explore a {
    border: 0;
    padding: 16px 25px;
    font-size: 18px;
    border-radius: 100px;
    color: #ffffff;
    background-image: linear-gradient(0deg,#9356DC,#FF79DA);
    cursor: pointer;
    box-shadow: 1px 1px 10px #0000003d;
}

/* Functions */

.function {
    margin: auto;
    width: 100%;
}

.function ul {
    list-style: none;
    padding: 0px 0px 0px 10px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.step_number {
background-color: #9356dc;
padding: 6px 9px 4px 8px;
margin-left: -15px;
position: absolute;
border-radius: 25px;
color: white;
font-size: 12px;
}


.steps li {
    margin: 15px 0px;
    cursor: pointer;
}

.step {
    box-shadow: 2px 4px 13px 5px #eaeaea;
    background-color: #f6f6f6;
    width: 100%;
    padding: 30px 5px 30px 5px;
    border-radius: 28px;
}

.step_description {
font-size: 18px;
font-weight: bold;
}

.step i {
    padding: 0 15px 0 30px;
    font-size: 18px;
    color: #7e7e7e;
}

.step:hover {
    background-color:#f5edff ;
}

.step:hover i {
    color:#9356dc ;
}

/* Restaurants list */
.restaurants_container {
    background-color: #f6f6f6;
    width: 100%;
    padding: 25px 0 35px 0;
    margin-top: 50px;
}

.restaurants_container[type="article"] {
    display: flex;
    flex-wrap: wrap;
}

.restaurant_card {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0px 1px 8px #c5c5c5;
}

.restaurant_card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.new {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    position: absolute;
    right: 8%;
    margin-top: 13px;
    color: #139273;
    background: #99E2D0;
    border-radius: 3px;
}

.restaurant_card a {
    width: 85%;
}

.description_restaurant {
    display: flex;
    flex-direction: column;
}

.description_align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description_restaurant h3 {
    margin: 15px 5px 5px 15px;
}

.description_restaurant span {
    margin: 0 5px 15px 15px;
}


.hearts i {
    font-size: 22px;
    padding-right: 15px;
    position: relative;
  }

  .hearts i:hover {
    background: linear-gradient(0deg,#9356DC,#FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  /* Restaurants pages */

  .restaurant_img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .menu_container {
    background-color: #f6f6f6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 100%;
    position: relative;
    margin-top: -50px;
  }

  .restaurant_title h2 {
    font-family: 'Shrikhand', cursive;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 28px;
    padding: 20px 0 20px 0;
  }

  .restaurant_title {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }



  /* Footer */

  footer {
      background-color: #353535;
      display: flex;
      flex-direction: column;
      padding: 20px 16px 25px 20px;
      
  }

  .footer_title {
    font-family: 'Shrikhand', cursive;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
  }

  footer ul {
      list-style: none;
  }

  footer ul li {
    display: flex;
    position: relative;
    margin: 0.5rem 0;
}
  
footer ul li a {
    color: #ffffff;
}

footer ul li a i {
    width: 1.2rem;
    margin-right: 0.5rem;
    color: #ffffff;
}

