/* Mobile first */
* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header index */
header {
    text-align: center;
}

.back-index {
    padding: 5px 55px 5px 15px;
    color: white;
}

h1 {
    font-family: 'Shrikhand', cursive;
}


/* search bar */
.location {
    display: flex;
    width: 100%;
}

.location label {
    position: absolute;
    left: -999px;
}

.location span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

/* Info explore */
.explore {
    padding: 40px 0 70px 0;
    text-align: center;
    margin: auto;
    background: #f6f6f6;
    width: 100%;
}

.explore h2 {
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.explore p {
    padding: 0px 0 40px 0;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.explore a {
    border: 0;
    padding: 16px 25px;
    font-size: 18px;
    border-radius: 100px;
    color: #ffffff;
    background-image: linear-gradient(0deg,#9356DC,#FF79DA);
    cursor: pointer;
    box-shadow: 1px 1px 10px #0000003d;
}

/* Functions */

/* Restaurants list */
.restaurants_container {
    background-color: #f6f6f6;
    width: 100%;
    padding: 25px 0 35px 0
}

.restaurant_card {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0px 1px 8px #c5c5c5;
}

.restaurant_card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restaurant_card a {
    width: 85%;
}

.description_restaurant {
    display: flex;
    flex-direction: column;
}

.description_align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description_restaurant h3 {
    margin: 15px 5px 5px 15px;
}

.description_restaurant span {
    margin: 0 5px 15px 15px;
}


.hearts i {
    font-size: 22px;
    padding-right: 15px;
    position: relative;
  }

  .hearts i:hover {
    opacity: 100%;
    background: linear-gradient(0deg,#9356DC,#FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .hearts i:target {
    opacity: 100%;
    background: linear-gradient(0deg,#9356DC,#FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

