h1 {
    font-family: Shrikhand;
}

.localisation span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}

.fonctionnement article div {
    border: 1px solid violet;
    background-color: violet;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonctionnement article {
    display: flex;
}