// Colors
$green-primary: #99E2D0;
$purple-primary: #9256dc;
$pink-primary: #ff79da;
$grey-eaeaea: #eaeaea;
$grey-f6f6f6: #f6f6f6;
$dark-grey: #4b4b4b;
$step-icon-color: #a1a1a1;
$function-hover: #f5edff;
$new-text-color: #139273;
$new-bg-color: #99E2D0;
$link-boxshadow: #0000003d;
$footer-color: #353535;
$white: #ffffff;
$black: #000000;
$grey-rgba-50: rgba(131, 131, 131, 0.5);
$grey-rgba-20: rgba(131, 131, 131, 0.2);
$gradiant-pink-heart: linear-gradient(220deg,$purple-primary,$pink-primary);
$gradiant-pink-button: linear-gradient(355deg,$purple-primary,$pink-primary);

// Fonts
$shrikhand: 'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;