* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: $roboto;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

/* common */
.btn_gradiant {
  padding: 16px 25px;
  font-size: 16px;
  border-radius: 25px;
  color: $white;
  background: $gradiant-pink-button;
  box-shadow: 0px 8px 20px $grey-rgba-20;
  transition-duration: 0.4s;
  margin-bottom: 20px;
  border: 0;
  cursor: pointer;
}