/* Footer */
footer {
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 25px 20px;
    h2 {
      font-family: $shrikhand;
      color: $white;
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 20px; }
    ul {
      list-style: none;
      li {
      display: flex;
      position: relative;
      margin: 5px 0; }
      a {
        color: $white;
        i {
          width: 20px;
            margin-right: 5px;
            color: $white;}
      }
    }
}