/* Header index */
header {
    text-align: center;
    box-shadow: 0px 2px 8px $grey-rgba-50;
    padding: 10px;
    position: relative; }
  
h1 {
    font-family: $shrikhand;
    font-weight: normal;}
  
@keyframes header-load {
      0% {opacity: 0;}
      100% {opacity: 1;}
}
  
.index_header {
      z-index: 1;
      i { display: none;}
}
