@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000000; }

a {
  text-decoration: none;
  color: #000000; }

/* common */
.btn_gradiant {
  padding: 16px 25px;
  font-size: 16px;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(355deg, #9256dc, #ff79da);
  box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
  transition-duration: 0.4s;
  margin-bottom: 20px;
  border: 0;
  cursor: pointer; }

.hearts i {
  font-size: 26px;
  position: absolute; }
.hearts:hover .regular-heart {
  opacity: 0;
  transition-duration: 0.7s; }

.regular-heart {
  color: #000000; }

.solid-heart {
  opacity: 0;
  background: linear-gradient(220deg, #9256dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .solid-heart:hover {
    opacity: 1;
    transition-duration: 0.6s; }

/* index loading */
.animation-loader {
  background-color: #ffffff;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: index-load 3s both; }

@keyframes index-load {
  0% {
    opacity: 1; }
  50% {
    z-index: 2;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -2; } }
/* spinner */
.loader-triple {
  width: 60px;
  height: 63px;
  margin: auto;
  border-radius: 50px;
  border-top: 3px solid transparent;
  border-color: #9256dc;
  -webkit-animation: 1s linear infinite;
  animation: spin 1s linear infinite; }
  .loader-triple::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50px;
    border-top: 3px solid transparent;
    border-color: #ff79da;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 1.5s linear infinite; }
  .loader-triple::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    border-radius: 50px;
    border-top: 3px solid transparent;
    border-color: #99E2D0;
    animation: spin 3s linear infinite;
    -webkit-animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* animation text with spinner */
.text_scale {
  position: absolute;
  top: 23%;
  animation: text-scale 1s 0.4s ease-out infinite; }

@keyframes text-scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
/* appear index page */
.body_index header, .body_index main, .body_index footer {
  animation: white-page 3.4s; }

@keyframes white-page {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Header common */
header {
  text-align: center;
  box-shadow: 0px 2px 8px rgba(131, 131, 131, 0.5);
  padding: 10px;
  position: relative; }
  header h1 {
    font-family: "Shrikhand", cursive;
    font-weight: normal; }

/* Header index */
.index_header {
  z-index: 1; }
  .index_header i {
    display: none; }

/* Header restaurant */
.header_restaurant {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(131, 131, 131, 0.5);
  z-index: 1; }
  .header_restaurant h1 {
    animation: header-load 500ms 480ms both; }
  .header_restaurant i {
    position: absolute;
    left: 20px;
    top: 23px;
    font-size: 22px;
    animation: header-load 620ms 500ms both; }

@keyframes header-load {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* common */
.section_title {
  margin: 20px 0px 25px 20px; }

/* LOCATION & SEARCH */
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 35px;
  margin-bottom: 35px; }
  .location .search_bar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #eaeaea !important;
    width: 100%; }
    .location .search_bar i {
      padding: 5px 5px 5px 30px;
      color: #4b4b4b;
      cursor: pointer; }
    .location .search_bar label {
      position: absolute;
      left: -999px; }
    .location .search_bar input[type="search"] {
      padding: 20px 10px 20px 15px;
      background: #eaeaea;
      font-family: "Roboto", sans-serif;
      border: none;
      outline: none; }
      .location .search_bar input[type="search"]::placeholder {
        color: #4b4b4b;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        transition-duration: 0.5s; }
    .location .search_bar:hover ::placeholder {
      opacity: 0.3;
      transition-duration: 0.5s; }
  .location h2 {
    padding: 30px 60px 15px 60px; }
  .location p {
    padding: 0px 22px 35px 22px; }

/* Functions */
.function ul {
  list-style: none;
  padding: 10px 20px 0px 25px; }
.function li {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  align-items: center;
  box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
  background-color: #f6f6f6;
  padding: 30px 5px 30px 5px;
  border-radius: 28px; }
  .function li i {
    margin-right: 15px;
    font-size: 18px;
    color: #a1a1a1;
    position: absolute;
    left: 9%; }
  .function li:hover {
    background-color: #f5edff;
    transition-duration: 0.4s; }
    .function li:hover i {
      color: #9256dc;
      transition-duration: 0.8s; }
.function .step_number {
  background-color: #9256dc;
  padding: 6px 9px 4px 8px;
  position: absolute;
  left: -10px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 12px; }
.function .step_description {
  font-size: 18px;
  font-weight: bold; }

/* Restaurants list */
.restaurants_container {
  background-color: #f6f6f6;
  margin-top: 80px;
  padding: 25px 12px; }
  .restaurants_container .restaurant_card {
    position: relative;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
    transition-duration: 0.5s; }
    .restaurants_container .restaurant_card .new {
      font-size: 14px;
      font-weight: bold;
      padding: 6px 12px;
      position: absolute;
      right: 3%;
      top: 13px;
      color: #139273;
      background: #99E2D0;
      border-radius: 3px; }
    .restaurants_container .restaurant_card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 20px 20px 0 0; }
    .restaurants_container .restaurant_card .description_align {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%; }
      .restaurants_container .restaurant_card .description_align h3 {
        margin: 15px 5px 5px 15px; }
      .restaurants_container .restaurant_card .description_align span {
        margin: 0 5px 15px 15px; }
    .restaurants_container .restaurant_card .hearts {
      position: absolute;
      right: 50px;
      bottom: 50px; }

/* Restaurants pages */
.main_restaurants img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  animation: img-load 600ms 500ms ease-in both; }

@keyframes img-load {
  0% {
    transform: scale(0.99);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.menus_form {
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  background-color: #f6f6f6;
  margin-top: -43px;
  padding: 0 10px;
  position: relative;
  text-align: center; }
  .menus_form .restaurant_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    position: relative; }
    .menus_form .restaurant_title h2 {
      font-family: "Shrikhand", cursive;
      font-weight: normal;
      font-size: 26px;
      padding: 20px 0 20px 0;
      margin-right: 40px;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .menus_form .restaurant_title .restaurant_hearts {
      position: absolute;
      right: 60px;
      bottom: 65px; }
  .menus_form .menu_container {
    background-color: #f6f6f6;
    position: relative; }
    .menus_form .menu_container .dishes_restaurants {
      margin-bottom: 40px; }
      .menus_form .menu_container .dishes_restaurants h3 {
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-left: 15px;
        text-align: initial; }
        .menus_form .menu_container .dishes_restaurants h3::after {
          content: "";
          width: 40px;
          height: 4px;
          background-color: #99E2D0;
          position: absolute;
          bottom: -10px;
          left: 1px; }
      .menus_form .menu_container .dishes_restaurants label {
        background-color: #ffffff;
        box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
        padding: 0px 10px;
        overflow: hidden;
        opacity: 0;
        animation: menu-appear 1400ms ease-in-out both; }
        .menus_form .menu_container .dishes_restaurants label:nth-of-type(1) {
          animation-delay: 100ms; }
        .menus_form .menu_container .dishes_restaurants label:nth-of-type(2) {
          animation-delay: 500ms; }
        .menus_form .menu_container .dishes_restaurants label:nth-of-type(3) {
          animation-delay: 900ms; }
        .menus_form .menu_container .dishes_restaurants label:nth-of-type(4) {
          animation-delay: 1300ms; }
        .menus_form .menu_container .dishes_restaurants label:nth-of-type(5) {
          animation-delay: 1700ms; }
        .menus_form .menu_container .dishes_restaurants label input[type="checkbox"] {
          position: absolute;
          left: -999px; }
        .menus_form .menu_container .dishes_restaurants label .text_menu {
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          text-align: initial; }
        .menus_form .menu_container .dishes_restaurants label .title_menu {
          font-size: 16px;
          margin-bottom: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-weight: bold; }
        .menus_form .menu_container .dishes_restaurants label .description_menu {
          font-size: 14px;
          font-weight: 300;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
        .menus_form .menu_container .dishes_restaurants label .check_bloc {
          display: flex;
          align-items: flex-end;
          width: 29px;
          transition-duration: 750ms; }
        .menus_form .menu_container .dishes_restaurants label .price_menu {
          font-weight: bold;
          margin: 0 20px 12px 0;
          text-align: center;
          font-size: 14px; }
        .menus_form .menu_container .dishes_restaurants label .checked_background {
          background: #99E2D0;
          padding: 22px; }
          .menus_form .menu_container .dishes_restaurants label .checked_background i {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: #ffffff;
            transition-duration: 680ms; }
        .menus_form .menu_container .dishes_restaurants label:hover .check_bloc {
          width: 99px;
          transition-delay: 100ms;
          transition-duration: 750ms; }
        .menus_form .menu_container .dishes_restaurants label:hover .checked_background i {
          transform: rotate(1turn);
          transition-delay: 100ms;
          transition-duration: 680ms; }
  .menus_form .btn_cmd {
    padding: 16px 40px !important;
    margin-bottom: 80px !important; }

@keyframes menu-appear {
  0% {
    transform: translateY(15px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
/* Footer */
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 16px 25px 20px; }
  footer h3 {
    font-family: "Shrikhand", cursive;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px; }
  footer ul {
    list-style: none; }
    footer ul li {
      margin: 5px 0; }
    footer ul a {
      color: #ffffff; }
      footer ul a i {
        width: 20px;
        margin-right: 5px;
        color: #ffffff; }

/* Media Queries */
/* function */
@media screen and (max-width: 340px) {
  .function li i {
    left: 7%; } }
@media screen and (min-width: 768px) {
  /* common */
  .section_title {
    width: 90%;
    margin-bottom: 25px; }

  /* function */
  .function ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px 0px 10px; }
    .function ul li {
      width: 28%;
      padding: 50px 5px;
      display: flex;
      justify-content: space-around;
      margin: 0;
      position: relative; }
      .function ul li .step_number {
        background-color: #9256dc;
        padding: 6px 12px 6px 11px;
        position: absolute;
        left: -10px;
        bottom: 80px;
        border-radius: 25px;
        color: #ffffff;
        font-size: 16px; }
      .function ul li i {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 22px; }
      .function ul li .step_description {
        position: absolute;
        bottom: 28px;
        font-size: 16px; }

  /* restaurants list */
  .restaurants_container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0; }
    .restaurants_container .restaurant_card {
      width: 45%;
      margin: auto;
      margin-bottom: 40px;
      position: relative; }

  /* restaurant page */
  .restaurant_title {
    padding-left: 35px; }

  .menu_container {
    padding: 0 65px; }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 90px 25px 90px; } }
@media screen and (min-width: 992px) {
  /* base */
  body {
    background-color: #eaeaea; }
    body main {
      max-width: 1200px;
      margin: auto;
      box-shadow: 0px 10px 15px rgba(131, 131, 131, 0.5); }

  /* boutons hover */
  .brightness_hover:hover {
    filter: brightness(1.08);
    box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.5); }

  /* index page */
  .function, .restaurants_container {
    padding: 0 30px; }

  /* restaurant page */
  .header_restaurant {
    padding-left: -27px; }

  .menus_form {
    padding: 0 10px; }
    .menus_form .restaurant_title {
      padding-left: 15px; }
    .menus_form .menu_container {
      display: flex;
      justify-content: space-evenly;
      margin: 20px 0;
      padding: 0; }
      .menus_form .menu_container .dishes_restaurants {
        width: 30%; }

  /* Footer */
  footer a:hover {
    text-decoration: underline; } }

/*# sourceMappingURL=main.css.map */
