/*Colors*/

/* Mobile first */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;}

a {
  text-decoration: none;
  color: #000000; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;}

.section_title {margin: 20px 0px 25px 20px; }

/* Animation index */

.animation-loader {
  background-color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: index-load 3s both;}

@keyframes index-load {
  0% {
  opacity: 1;}
  50% {
    z-index: 2;
    opacity: 1;}
  100% {
    opacity: 0;
    z-index: -2;}
}

.index_appear {animation: whitepage 3.4s;}

@keyframes whitepage {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
  }


.loader-triple {
  width: 60px;
  height: 63px;
  margin: auto;
  border-radius: 50px;
  border-top: 3px solid transparent;
  border-color: #9356DC;
  -webkit-animation: 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loader-triple:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50px;
    border-top: 3px solid transparent;
    border-color: #ff78d9;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
}

.loader-triple:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border-radius: 50px;
  border-top: 3px solid transparent;
  border-color: #99e2d0;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg);}
100% {transform: rotate(360deg);}    
}

.text_scale {
  animation: text-scale 1s 0.4s ease-out infinite;
  position: absolute;
  top: 23%;
}

@keyframes text-scale {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);} 
}

/* Header index */
header {
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 10px;
  position: relative; }

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;}

.h1_restaurant {
  animation: header-load 500ms 480ms both;
}

@keyframes header-load {
    0% {
    opacity: 0;}
    100% {
    opacity: 1;}
}

.index_header {
    z-index: 1;
}

.index_header i {
  display: none; }

/* Header restaurant */
.header_restaurant {
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 1; }

header i {
  position: absolute;
  left: 20px;
  top: 23px;
  font-size: 22px;
  animation: header-load 500ms 480ms both; }

/* search bar */
.location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea; }
  .location i {
    padding: 5px 5px 5px 30px;
    color: #4b4b4b;
    cursor: pointer; }
  .location label {
    position: absolute;
    left: -999px; }

#search {
  border: none;
  outline: none;}
  #search::placeholder {
    color: #4b4b4b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition-duration: 0.5s; }

input[type="search"] {
  padding: 20px 10px 20px 15px;
  background: #eaeaea;
  font-family: 'Roboto', sans-serif; }

  #search-bar:hover ::placeholder {
    opacity: 0.3;
    transition-duration: 0.5s;
  }

/* Info explore */
.explore {
  text-align: center;
  margin-bottom: 50px;
  background: #f6f6f6;
  padding-bottom: 80px; }
  .explore p {
    margin-top: 15px; }
  .btn_gradiant {
    padding: 16px 25px;
    font-size: 16px;
    border-radius: 25px;
    color: #ffffff;
    background-image: linear-gradient(355deg, #9256dc, #ff79da);
    box-shadow: 0 3px 14px -2px rgb(0 0 0 / 70%);
    transition-duration: 0.3s; }


.content_explore {
  padding: 30px 50px 50px 50px; }

/* Functions */

  .function ul {
    list-style: none;
    padding: 10px 20px 0px 20px;}
  .function li {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
  }

.step {
  box-shadow: 0px 6px 10px rgba(131, 131, 131, 0.2);
  background-color: #f6f6f6;
  width: 100%;
  padding: 30px 5px 30px 5px;
  border-radius: 28px;}
  .step i {
    margin-right: 15px;
    font-size: 18px;
    color: #a1a1a1; 
    position: absolute;
    left: 9%;}
  .step:hover {
    background-color: #f5edff;
    transition-duration: 0.4s; }
    .step:hover i {
      color: #9256dc;
      transition-duration: 0.8s; }

.step_number {
  background-color: #9256dc;
  padding: 6px 9px 4px 8px;
  position: absolute;
  left: -10px;
  border-radius: 25px;
  color: white;
  font-size: 12px; }

.step_description {
  font-size: 18px;
  font-weight: bold; }

/* Restaurants list */
.form {
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    background-color: #f6f6f6;
    margin-top: -43px;
    position: relative;
    text-align: center;
}

.restaurants_container {
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 25px 12px;}

.restaurant_card {
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0 4px 9px -7px rgb(0 0 0 / 70%);
  transition-duration: 0.5s; }
  .restaurant_card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; }
  .restaurant_card a {
    width: 80%; }

.new {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  position: absolute;
  right: 8%;
  margin-top: 13px;
  color: #139273;
  background: #99E2D0;
  border-radius: 3px; }

.description_restaurant {
  display: flex;
  flex-direction: column; }
  .description_restaurant h3 {
    margin: 15px 5px 5px 15px; }
  .description_restaurant span {
    margin: 0 5px 15px 15px; }

.description_align {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hearts i {
  font-size: 26px;
  position: absolute;
  right: 9%;
  transform: translateY(-10px);}


.regular-heart {
  color: black;}

.solid-heart {
  opacity: 0;
  background: linear-gradient(220deg, #9256dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

.hearts:hover .regular-heart {
 opacity: 0;
 transition-duration: 0.5s;
}
.solid-heart:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

/* Restaurants pages */
.restaurant_img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  animation: img-load 600ms 500ms ease-in both;}

@keyframes img-load {
    0% {transform: scale(0.99);
    opacity: 0;}
    100% { transform: scale(1);
    opacity: 1;}
}

.menu_container {
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 10px;
  text-align: center; }
  .menu_container label {
    background-color: #ffffff;
    box-shadow: 0px 1px 8px #eaeaea;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    padding: 0px 10px;
    overflow: hidden;
    opacity: 0;
    animation: menu-appear 1400ms ease-in-out both;}

.text_menu {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: initial;}

.title_menu {
  font-size: 16px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;}

.description_menu {
  font-size: 14px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes menu-appear {
  0% {
  transform: translateY(15px);
  opacity: 0;}
  100% {
  transform: translateY(0px);
  opacity: 1;}
}
      
.menu_container label:nth-of-type(1) {animation-delay: 100ms;}
.menu_container label:nth-of-type(2) {animation-delay: 500ms;}
.menu_container label:nth-of-type(3) {animation-delay: 900ms;}
.menu_container label:nth-of-type(4) {animation-delay: 1300ms;}
 
.restaurant_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px; }
  .restaurant_title h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 26px;
    padding: 20px 0 20px 0;
    margin-right: 40px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.dishes_restaurants {
  margin-bottom: 40px; }
  .dishes_restaurants h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
    text-align: initial; }
    .dishes_restaurants h2::after {
      content: "";
      width: 40px;
      height: 4px;
      background-color: #99E2D0;
      position: absolute;
      bottom: -10px;
      left: 1px; }

.price_menu {
  font-weight: bold;
    margin: 0 20px 12px 0;
    text-align: center;
    font-size: 14px; }

.btn_cmd {
  padding: 16px 40px;
  margin-bottom: 80px;
  border: 0;
  cursor: pointer;
}

.check_bloc {
  display: flex;
  align-items: flex-end;
  width: 34px;
  transition-duration: 750ms;
}

.checked_background i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    transition-duration: 680ms;
}

.checked_background {
    background: #99E2D0;
    padding: 22px;
}

.menu_container label:hover .check_bloc {
  width: 99px;
  transition-delay: 100ms;
  transition-duration: 750ms;
}

.menu_container label:hover .checked_background i {
  transform: rotate(1turn);
  transition-delay: 100ms;
  transition-duration: 680ms;
}

input[type="checkbox"] {
  position: absolute;
  left: -999px;
}

/* Footer */
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 16px 25px 20px; }
  footer h2 {
    font-family: 'Shrikhand', cursive;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: flex;
      position: relative;
      margin: 5px 0; }
      footer ul li a {
        color: #ffffff; }
        footer ul li a i {
          width: 20px;
          margin-right: 5px;
          color: #ffffff;
}

/* Media Queries */
/* Tablette */
@media screen and (min-width: 768px) {

.function ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 0 0;
}

.steps li {
  width: 28%;
  padding: 50px 5px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  position: relative;
}
.step i {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
}

.step_number {
  background-color: #9256dc;
  padding: 6px 12px 6px 11px;
  position: absolute;
  left: -10px;
  bottom: 80px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
}

.step_description {
position: absolute;
bottom: 28px;
font-size: 16px;
}



.section_title {
  width: 90%;
  margin-bottom: 25px;
}

.restaurant_card {
  width: 45%;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
}

.restaurants_container {
  display: flex;
  flex-wrap: wrap;
}

.new {
  right: 3%;
}

.hearts i {
  right: 4%;
}

.menu_container {
  padding: 0 65px;
}

.restaurant_title {
  padding-left: 35px;
}

footer {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 90px 25px 90px;
}

}

/* PC */
@media screen and (min-width: 992px) {
 body {
  background-color: #eaeaea;
 } 

main {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 20%);
}

.brightness_hover:hover {
  filter: brightness(1.08);
  box-shadow: 0 5px 14px -2px rgb(0 0 0 / 70%);
}

.function {
  padding: 0 55px;
}
.restaurants_container {
  padding: 25px 55px 35px 55px;
}

.restaurant_card {
  width: 45%;
}

.header_restaurant {
  padding-left: -27px;
}
.form {
  padding: 0 10px;
}

.menu_container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 0;
}

.restaurant_title {
  padding-left: 15px;
}

.dishes_restaurants {
  width: 33%;
  margin: 0;
}




}



/*# sourceMappingURL=style.css.map */