// Variables
/* Colors */
$green-primary: #99E2D0;
$purple-primary: #9256dc;
$pink-primary: #ff79da;
$grey-eaeaea: #eaeaea;
$grey-f6f6f6: #f6f6f6;
$dark-grey: #4b4b4b;
$link-boxshadow: #0000003d;
$color-footer: #353535;
$white: #ffffff;
$black: #000000;
$black-rgba-25: rgba(0, 0, 0, 0.25);
$gradiant-pink: linear-gradient(0deg,$purple-primary,$pink-primary);


/* Mobile first */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: $black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $black;
}

.section_title {
    margin: 20px 0px 15px 20px;
}

/* Header main */
header {
    text-align: center;
    box-shadow: 0px 0px 8px 0px $black-rgba-25;
    padding: 10px;
    position: relative;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}

.header_main i {
    display: none;
}

/* Header restaurant */
.header_restaurant {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

header i {
    position: absolute;
    left: 20px;
    top: 23px;
    font-size: 22px;
}

/* search bar */
.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin: auto;
    background-color: $grey-eaeaea;

    i {
        padding: 5px 5px 5px 30px;
        color: $dark-grey;
        cursor: pointer;
    }

    label {
        position: absolute;
        left: -999px;
    }
}

#search {
    border: none;

    &::placeholder {
        color: $dark-grey;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}

input[type="search"] {
    padding: 20px 10px 20px 15px;
    background: $grey-eaeaea;
    font-family: 'Roboto', sans-serif;
}

/* Info explore */
.explore {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    background: $grey-f6f6f6;
    width: 100%;
    padding-bottom: 80px;

    h2{
        margin: auto;
        font-weight: bold;
    }

    p{
        margin: auto;
        margin-top: 15px;
    }

    a {
        border: 0;
        padding: 16px 25px;
        font-size: 18px;
        border-radius: 100px;
        color: $white;
        background-image: $gradiant-pink;
        box-shadow: 1px 1px 10px $link-boxshadow; 
    }
}

.content_explore {
    padding: 30px 50px 50px 50px;
}

/* Functions */
.function {
    margin: auto;
    width: 100%;

    ul {
        list-style: none;
        padding: 0px 0px 0px 10px;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.steps li {
    margin: 15px 0px; 
}

.step {
    box-shadow: 2px 4px 13px 5px $grey-eaeaea;
    background-color: $grey-f6f6f6;
    width: 100%;
    padding: 30px 5px 30px 5px;
    border-radius: 28px;
    cursor: pointer;

    i {
        padding: 0 15px 0 30px;
        font-size: 18px;
        color: #7e7e7e;  
    }

    &:hover {
        background-color:#f5edff ;

        i {
            color: $purple-primary ;
        }
    }
}

.step_number {
    background-color: $purple-primary;
    padding: 6px 9px 4px 8px;
    margin-left: -15px;
    position: absolute;
    border-radius: 25px;
    color: white;
    font-size: 12px;
}

.step_description {
font-size: 18px;
font-weight: bold;
}

/* Restaurants list */
.restaurants_container {
    background-color: $grey-f6f6f6;
    width: 100%;
    padding: 25px 0 35px 0;
    margin-top: 50px;
}

.restaurant_card {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0px 1px 8px #c5c5c5;

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0; 
    }

    a {
        width: 85%;
    }
}

.new {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    position: absolute;
    right: 8%;
    margin-top: 13px;
    color: #139273;
    background: $green-primary;
    border-radius: 3px;
}

.description_restaurant {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 15px 5px 5px 15px;
    }

    span {
        margin: 0 5px 15px 15px;
    }
}

.description_align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hearts i {
    font-size: 26px;
    padding-right: 15px;
    position: relative;

    &:hover {
        background: $gradiant-pink;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

/* Restaurants pages */
.restaurant_img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.menu_container {
    background-color: $grey-f6f6f6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 100%;
    position: relative;
    margin-top: -50px;
    padding-bottom: 1px;

    label {
        background-color: $white;
        box-shadow: 0px 1px 8px $grey-eaeaea;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 92%;
        margin: auto;
        margin-bottom: 15px;
        padding: 13px 10px 13px 10px;

        h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.restaurant_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 15px 10px 15px;

    h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: 28px;
        padding: 20px 0 20px 0;    
    }
}

.dishes_restaurants {
    margin-bottom: 40px;

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-left: 15px;

        &::after {
            content: "";
            width: 50px;
            height: 4px;
            background-color: $green-primary;
            position: absolute;
            bottom: -10px;
            left: 1px;  
        }
    }
}

.price_menu {
              position: absolute;
              right: 9%;
              font-weight: bold;
}


      
.btn_command {
              border: 0;
              padding: 16px 45px;
              font-size: 16px;
              border-radius: 100px;
              color: $white;
              background-image: $gradiant-pink;
              box-shadow: 1px 1px 10px $link-boxshadow; 
              cursor: pointer;
              display: flex;
              text-align: center;
              margin: 50px auto 50px auto;
              width: auto;
} 

/* Footer */
footer {
    background-color: $color-footer;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 25px 20px;

    h2 {
        font-family: 'Shrikhand', cursive;
        color: $white;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            position: relative;
            margin: 5px 0;

            a {
                color: $white;

                i {
                    width: 20px;
                    margin-right: 5px;
                    color: $white;
                }
            }
        }
    }  
}